In [6]:
import pandas as pd
import numpy as np

In [9]:
data = {'a':[1,1,1,1,1,1],
        'b':[2,2,2,2,2,2],
        'c':[3,3,3,3,3,3]}
print(data)

{'a': [1, 1, 1, 1, 1, 1], 'b': [2, 2, 2, 2, 2, 2], 'c': [3, 3, 3, 3, 3, 3]}

In [10]:
df=pd.DataFrame(data)
df.head()

   a  b  c
0  1  2  3
1  1  2  3
2  1  2  3
3  1  2  3
4  1  2  3